In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("E:\dataset_folder\Auto_training_dataset.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.515869,5.458438,193.532746,2970.261965,15.555668,75.994962,1.574307
std,7.825804,1.701577,104.379583,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [6]:
df.shape

(397, 9)

In [7]:
df = df.drop_duplicates()
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [8]:
df.replace("?", np.nan, inplace = True)
df.head(100)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
95,12.0,8,455.0,225,4951,11.0,73,1,buick electra 225 custom
96,13.0,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
97,18.0,6,225.0,105,3121,16.5,73,1,plymouth valiant
98,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
99,18.0,6,232.0,100,2945,16.0,73,1,amc hornet

In [9]:
print("Total Null-values in :\n" , df.isnull().sum())

Total Null-values in :
 mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [10]:
df.dropna(how='any',subset=['horsepower'],inplace=True)

In [11]:
x = df[['mpg','cylinders','horsepower','weight','year','acceleration','displacement']].values
y = df['origin'].values

In [12]:
from sklearn.impute import SimpleImputer
help(SimpleImputer)
print(x[:,1:3])

Help on class SimpleImputer in module sklearn.impute._base:

class SimpleImputer(_BaseImputer)
 |  SimpleImputer(*, missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |
 |  Imputation transformer for completing missing values.
 |
 |  Read more in the :ref:`User Guide <impute>`.
 |
 |  .. versionadded:: 0.20
 |     `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
 |     estimator which is now removed.
 |
 |  Parameters
 |  ----------
 |  missing_values : int, float, str, np.nan or None, default=np.nan
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For pandas' dataframes with
 |      nullable integer dtypes with missing values, `missing_values`
 |      should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.
 |
 |  strategy : string, default='mean'
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        each column. Can only be used with numeric data.
 |      - If "median", then replace missing values using the median along
 |        each column. Can only be used with numeric data.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along each column. Can be used with strings or numeric data.
 |        If there is more than one such value, only the smallest is returned.
 |      - If "constant", then replace missing values with fill_value. Can be
 |        used with strings or numeric data.
 |
 |      .. versionadded:: 0.20
 |         strategy="constant" for fixed value imputation.
 |
 |  fill_value : string or numerical value, default=None
 |      When strategy == "constant", fill_value is used to replace all
 |      occurrences of missing_values.
 |      If left to the default, fill_value will be 0 when imputing numerical
 |      data and "missing_value" for strings or object data types.
 |
 |  verbose : integer, default=0
 |      Controls the verbosity of the imputer.
 |
 |  copy : boolean, default=True
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If X is not an array of floating values;
 |      - If X is encoded as a CSR matrix;
 |      - If add_indicator=True.
 |
 |  add_indicator : boolean, default=False
 |      If True, a :class:`MissingIndicator` transform will stack onto output
 |      of the imputer's transform. This allows a predictive estimator
 |      to account for missingness despite imputation. If a feature has no
 |      missing values at fit/train time, the feature won't appear on
 |      the missing indicator even if there are missing values at
 |      transform/test time.
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature.
 |      Computing statistics can result in `np.nan` values.
 |      During :meth:`transform`, features corresponding to `np.nan`
 |      statistics will be discarded.
 |
 |  indicator_ : :class:`~sklearn.impute.MissingIndicator`
 |      Indicator used to add binary indicators for missing values.
 |      ``None`` if add_indicator is False.
 |
 |  See Also
 |  --------
 |  IterativeImputer : Multivariate imputation of missing values.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.impute import SimpleImputer
 |  >>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
 |  >>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
 |  SimpleImputer()
 |  >>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
 |  >>> print(imp_mean.transform(X))
 |  [[ 7.   2.   3. ]
 |   [ 4.   3.5  6. ]
 |   [10.   3.5  9. ]]
 |
 |  Notes
 |  -----
 |  Columns which only contained missing values at :meth:`fit` are discarded
 |  upon :meth:`transform` if strategy is not "constant".
 |
 |  Method resolution order:
 |      SimpleImputer
 |      _BaseImputer
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where ``n_samples`` is the number of samples and
 |          ``n_features`` is the number of features.
 |
 |      Returns
 |      -------
 |      self : SimpleImputer
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      Inverts the `transform` operation performed on an array.
 |      This operation can only be performed after :class:`SimpleImputer` is
 |      instantiated with `add_indicator=True`.
 |
 |      Note that ``inverse_transform`` can only invert the transform in
 |      features that have binary indicators for missing values. If a feature
 |      has no missing values at ``fit`` time, the feature won't have a binary
 |      indicator, and the imputation done at ``transform`` time won't be
 |      inverted.
 |
 |      .. versionadded:: 0.24
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape                 (n_samples, n_features + n_features_missing_indicator)
 |          The imputed data to be reverted to original data. It has to be
 |          an augmented array of imputed data and the missing indicator mask.
 |
 |      Returns
 |      -------
 |      X_original : ndarray of shape (n_samples, n_features)
 |          The original X with missing values as it was prior
 |          to imputation.
 |
 |  transform(self, X)
 |      Impute all missing values in X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          The input data to complete.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

[[8 '130']
 [8 '165']
 [8 '150']
 [8 '150']
 [8 '140']
 [8 '198']
 [8 '220']
 [8 '215']
 [8 '225']
 [8 '190']
 [8 '170']
 [8 '160']
 [8 '150']
 [8 '225']
 [4 '95']
 [6 '95']
 [6 '97']
 [6 '85']
 [4 '88']
 [4 '46']
 [4 '87']
 [4 '90']
 [4 '95']
 [4 '113']
 [6 '90']
 [8 '215']
 [8 '200']
 [8 '210']
 [8 '193']
 [4 '88']
 [4 '90']
 [4 '95']
 [6 '100']
 [6 '105']
 [6 '100']
 [6 '88']
 [6 '100']
 [8 '165']
 [8 '175']
 [8 '153']
 [8 '150']
 [8 '180']
 [8 '170']
 [8 '175']
 [6 '110']
 [4 '72']
 [6 '100']
 [6 '88']
 [4 '86']
 [4 '90']
 [4 '70']
 [4 '76']
 [4 '65']
 [4 '69']
 [4 '60']
 [4 '70']
 [4 '95']
 [4 '80']
 [4 '54']
 [4 '90']
 [4 '86']
 [8 '165']
 [8 '175']
 [8 '150']
 [8 '153']
 [8 '150']
 [8 '208']
 [8 '155']
 [8 '160']
 [8 '190']
 [3 '97']
 [8 '150']
 [8 '130']
 [8 '140']
 [8 '150']
 [4 '112']
 [4 '76']
 [4 '87']
 [4 '69']
 [4 '86']
 [4 '92']
 [4 '97']
 [4 '80']
 [4 '88']
 [8 '175']
 [8 '150']
 [8 '145']
 [8 '137']
 [8 '150']
 [8 '198']
 [8 '150']
 [8 '158']
 [8 '150']
 [8 '215']
 [8 '225']
 [8 '175']
 [6 '105']
 [6 '100']
 [6 '100']
 [6 '88']
 [6 '95']
 [4 '46']
 [8 '150']
 [8 '167']
 [8 '170']
 [8 '180']
 [6 '100']
 [4 '88']
 [4 '72']
 [4 '94']
 [3 '90']
 [4 '85']
 [6 '107']
 [4 '90']
 [8 '145']
 [8 '230']
 [4 '49']
 [4 '75']
 [4 '91']
 [4 '112']
 [8 '150']
 [4 '110']
 [6 '122']
 [8 '180']
 [6 '95']
 [6 '100']
 [6 '100']
 [4 '67']
 [4 '80']
 [4 '65']
 [4 '75']
 [6 '100']
 [6 '110']
 [6 '105']
 [8 '140']
 [8 '150']
 [8 '150']
 [8 '140']
 [8 '150']
 [4 '83']
 [4 '67']
 [4 '78']
 [4 '52']
 [4 '61']
 [4 '75']
 [4 '75']
 [4 '75']
 [4 '97']
 [4 '93']
 [4 '67']
 [6 '95']
 [6 '105']
 [6 '72']
 [6 '72']
 [8 '170']
 [8 '145']
 [8 '150']
 [8 '148']
 [6 '110']
 [6 '105']
 [6 '110']
 [6 '95']
 [6 '110']
 [8 '110']
 [8 '129']
 [4 '75']
 [4 '83']
 [6 '100']
 [4 '78']
 [4 '96']
 [4 '71']
 [4 '97']
 [6 '97']
 [4 '70']
 [6 '90']
 [4 '95']
 [4 '88']
 [4 '98']
 [4 '115']
 [4 '53']
 [4 '86']
 [4 '81']
 [4 '92']
 [4 '79']
 [4 '83']
 [8 '140']
 [8 '150']
 [8 '120']
 [8 '152']
 [6 '100']
 [6 '105']
 [6 '81']
 [6 '90']
 [4 '52']
 [4 '60']
 [4 '70']
 [4 '53']
 [6 '100']
 [6 '78']
 [6 '110']
 [6 '95']
 [4 '71']
 [4 '70']
 [4 '75']
 [4 '72']
 [4 '102']
 [8 '150']
 [4 '88']
 [6 '108']
 [6 '120']
 [8 '180']
 [8 '145']
 [8 '130']
 [8 '150']
 [4 '68']
 [4 '80']
 [4 '58']
 [4 '96']
 [4 '70']
 [8 '145']
 [8 '110']
 [8 '145']
 [8 '130']
 [6 '110']
 [6 '105']
 [6 '100']
 [6 '98']
 [8 '180']
 [8 '170']
 [8 '190']
 [8 '149']
 [4 '78']
 [4 '88']
 [4 '75']
 [4 '89']
 [4 '63']
 [4 '83']
 [4 '67']
 [4 '78']
 [6 '97']
 [4 '110']
 [3 '110']
 [4 '48']
 [4 '66']
 [4 '52']
 [4 '70']
 [4 '60']
 [8 '110']
 [8 '140']
 [8 '139']
 [6 '105']
 [6 '95']
 [6 '85']
 [4 '88']
 [6 '100']
 [6 '90']
 [6 '105']
 [6 '85']
 [6 '110']
 [6 '120']
 [8 '145']
 [6 '165']
 [8 '139']
 [8 '140']
 [4 '68']
 [4 '95']
 [4 '97']
 [4 '75']
 [4 '95']
 [4 '105']
 [4 '85']
 [4 '97']
 [5 '103']
 [6 '125']
 [4 '115']
 [6 '133']
 [4 '71']
 [4 '68']
 [6 '115']
 [6 '85']
 [4 '88']
 [6 '90']
 [6 '110']
 [8 '130']
 [8 '129']
 [8 '138']
 [8 '135']
 [8 '155']
 [8 '142']
 [8 '125']
 [8 '150']
 [4 '71']
 [4 '65']
 [4 '80']
 [4 '80']
 [5 '77']
 [8 '125']
 [4 '71']
 [8 '90']
 [4 '70']
 [4 '70']
 [4 '65']
 [4 '69']
 [4 '90']
 [6 '115']
 [6 '115']
 [4 '90']
 [4 '76']
 [4 '60']
 [4 '70']
 [4 '65']
 [4 '90']
 [4 '88']
 [4 '90']
 [6 '90']
 [4 '78']
 [4 '90']
 [4 '75']
 [4 '92']
 [4 '75']
 [4 '65']
 [4 '105']
 [4 '65']
 [4 '48']
 [4 '48']
 [5 '67']
 [4 '67']
 [4 '67']
 [4 '67']
 [4 '62']
 [6 '132']
 [3 '100']
 [4 '88']
 [4 '72']
 [4 '84']
 [4 '84']
 [4 '92']
 [6 '110']
 [4 '84']
 [4 '58']
 [4 '64']
 [4 '60']
 [4 '67']
 [4 '65']
 [4 '62']
 [4 '68']
 [4 '63']
 [4 '65']
 [4 '65']
 [4 '74']
 [4 '75']
 [4 '75']
 [4 '100']
 [4 '74']
 [4 '80']
 [6 '76']
 [6 '116']
 [6 '120']
 [6 '110']
 [8 '105']
 [6 '88']
 [6 '85']
 [4 '88']
 [4 '88']
 [4 '88']
 [4 '85']
 [4 '84']
 [4 '90']
 [4 '92']
 [4 '74']
 [4 '68']
 [4 '68']
 [4 '63']
 [4 '70']
 [4 '88']
 [4 '75']
 [4 '70']
 [4 '67']
 [4 '67']
 [4 '67']
 [6 '110']
 [6 '85']
 [4 '92']
 [6 '112']
 [4 '96']
 [4 '84']
 [4 '90']
 [4 '86']
 [4 '52']
 [4 '84']
 [4 '79']
 [4 '82']]

In [13]:
imputer = SimpleImputer(missing_values=np.nan,strategy= 'mean')
imputer.fit(x[1:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

In [14]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_test , y_train = train_test_split(x,y,test_size=0.2,random_state=2)

In [15]:
print(y_train)
print(x_test)
print(y_train)
print(y_test)

[1 3 1 3 2 2 1 1 1 1 1 1 1 1 2 1 2 1 2 1 1 3 2 1 2 1 1 1 1 1 1 1 1 1 2 2 1
 3 1 1 1 1 2 1 1 1 2 1 1 1 1 3 1 1 1 1 1 1 1 1 1 3 1 1 2 1 1 1 3 2 1 1 3 1
 1 1 1 1 2]
[[26.0 4.0 70.0 1955 71 20.5 91.0]
 [19.0 3.0 97.0 2330 72 13.5 70.0]
 [24.3 4.0 90.0 3003 80 20.1 151.0]
 [33.0 4.0 53.0 1795 75 17.5 91.0]
 [41.5 4.0 76.0 2144 80 14.7 98.0]
 [43.4 4.0 48.0 2335 80 23.7 90.0]
 [25.0 6.0 110.0 2945 82 16.4 181.0]
 [21.0 4.0 72.0 2401 73 19.5 140.0]
 [18.5 6.0 110.0 3645 76 16.2 250.0]
 [18.0 8.0 150.0 3436 70 11.0 318.0]
 [24.5 4.0 60.0 2164 76 22.1 98.0]
 [18.0 6.0 105.0 3459 75 16.0 250.0]
 [34.7 4.0 63.0 2215 81 14.9 105.0]
 [18.0 6.0 97.0 2984 75 14.5 171.0]
 [25.0 4.0 115.0 2671 75 13.5 121.0]
 [19.0 6.0 100.0 2634 71 13.0 232.0]
 [29.0 4.0 70.0 1937 75 14.0 90.0]
 [13.0 8.0 130.0 3870 76 15.0 302.0]
 [26.0 4.0 75.0 2246 74 14.0 116.0]
 [20.0 8.0 110.0 3221 75 13.5 262.0]
 [13.0 8.0 190.0 4422 72 12.5 400.0]
 [37.0 4.0 92.0 2434 80 15.0 119.0]
 [25.0 4.0 87.0 2672 70 17.5 110.0]
 [10.0 8.0 215.0 4615 70 14.0 360.0]
 [21.5 4.0 110.0 2600 77 12.8 121.0]
 [18.0 6.0 78.0 3574 76 21.0 250.0]
 [21.0 6.0 90.0 2648 70 15.0 199.0]
 [18.6 6.0 110.0 3620 78 18.7 225.0]
 [14.0 8.0 148.0 4657 75 13.5 351.0]
 [14.5 8.0 152.0 4215 76 12.8 351.0]
 [25.1 4.0 88.0 2720 78 15.4 140.0]
 [39.0 4.0 64.0 1875 81 16.4 86.0]
 [14.0 8.0 215.0 4312 70 8.5 440.0]
 [15.5 8.0 145.0 4140 77 13.7 318.0]
 [29.0 4.0 78.0 1940 77 14.5 97.0]
 [25.0 4.0 81.0 2220 76 16.9 116.0]
 [9.0 8.0 193.0 4732 70 18.5 304.0]
 [35.0 4.0 69.0 1613 71 18.0 72.0]
 [25.5 4.0 96.0 2300 77 15.5 122.0]
 [26.5 4.0 72.0 2565 76 13.6 140.0]
 [30.0 4.0 80.0 2155 77 14.8 111.0]
 [19.0 6.0 95.0 3264 75 16.0 225.0]
 [19.0 4.0 112.0 2868 73 15.5 121.0]
 [13.0 8.0 175.0 4100 73 13.0 350.0]
 [25.8 4.0 92.0 2620 81 14.4 156.0]
 [17.6 8.0 129.0 3725 79 13.4 302.0]
 [28.1 4.0 80.0 3230 81 20.4 141.0]
 [22.5 6.0 90.0 3085 76 17.6 232.0]
 [24.5 4.0 88.0 2740 77 16.0 151.0]
 [16.0 6.0 100.0 3781 74 17.0 250.0]
 [26.4 4.0 88.0 2870 80 18.1 140.0]
 [24.0 4.0 97.0 2489 74 15.0 120.0]
 [13.0 8.0 155.0 4502 72 13.5 350.0]
 [26.0 4.0 80.0 2451 74 16.5 122.0]
 [27.4 4.0 80.0 2670 79 15.0 121.0]
 [16.0 8.0 150.0 4190 76 13.0 318.0]
 [28.0 4.0 90.0 2264 71 15.5 140.0]
 [36.0 4.0 70.0 2125 82 17.3 98.0]
 [31.0 4.0 85.0 2575 82 16.2 112.0]
 [19.8 6.0 85.0 2990 79 18.2 200.0]
 [15.0 8.0 145.0 4082 73 13.0 350.0]
 [22.0 4.0 94.0 2379 73 16.5 108.0]
 [12.0 8.0 225.0 4951 73 11.0 455.0]
 [28.0 4.0 79.0 2625 82 18.6 120.0]
 [16.2 6.0 133.0 3410 78 15.8 163.0]
 [21.0 6.0 85.0 2587 70 16.0 200.0]
 [17.0 8.0 110.0 4060 77 19.0 260.0]
 [12.0 8.0 160.0 4456 72 13.5 350.0]
 [21.1 4.0 95.0 2515 78 14.8 134.0]
 [21.0 4.0 87.0 2979 72 19.5 120.0]
 [26.6 4.0 84.0 2635 81 16.4 151.0]
 [12.0 8.0 180.0 4955 71 11.5 383.0]
 [31.0 4.0 52.0 1649 74 16.5 76.0]
 [23.0 6.0 95.0 2904 73 16.0 198.0]
 [26.0 4.0 79.0 2255 76 17.7 98.0]
 [28.4 4.0 90.0 2670 79 16.0 151.0]
 [17.0 8.0 150.0 3672 72 11.5 304.0]
 [17.6 6.0 85.0 3465 81 16.6 225.0]
 [36.0 4.0 74.0 1980 82 15.3 105.0]]
[1 3 1 3 2 2 1 1 1 1 1 1 1 1 2 1 2 1 2 1 1 3 2 1 2 1 1 1 1 1 1 1 1 1 2 2 1
 3 1 1 1 1 2 1 1 1 2 1 1 1 1 3 1 1 1 1 1 1 1 1 1 3 1 1 2 1 1 1 3 2 1 1 3 1
 1 1 1 1 2]
[1 1 1 1 1 1 3 3 1 3 3 1 1 1 1 1 1 1 1 1 1 3 1 1 3 1 3 2 1 2 2 1 3 1 1 3 1
 1 1 3 1 2 1 1 3 3 3 2 3 1 1 2 2 3 1 1 3 1 1 1 3 2 1 1 3 3 1 2 1 1 1 1 3 3
 2 1 1 2 1 1 1 2 1 1 3 1 1 1 1 3 1 1 1 1 2 1 3 1 3 1 1 1 1 1 3 2 2 3 1 1 2
 1 3 1 1 1 3 1 3 1 1 2 1 2 1 2 1 2 1 1 2 1 1 3 1 1 1 2 2 1 3 3 2 3 3 1 2 1
 1 1 1 1 1 1 1 1 3 1 3 2 1 1 1 1 1 1 1 3 2 3 1 1 1 3 1 1 3 1 1 2 1 1 3 1 1
 1 2 1 1 2 1 1 1 2 1 3 1 3 1 3 1 1 2 2 3 1 1 1 3 1 1 1 1 1 2 1 3 3 3 3 1 3
 2 1 3 3 2 2 1 1 1 1 1 3 1 1 1 1 3 1 3 2 1 3 1 3 1 1 1 1 2 1 1 1 1 3 1 1 1
 1 1 3 3 1 2 2 2 3 3 1 2 2 3 3 3 2 1 3 2 3 1 2 2 1 2 1 1 1 2 1 1 1 2 1 1 2
 1 3 1 3 1 1 1 1 1 1 1 2 1 2 1 1 1]

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 4:] = sc.fit_transform(x_train[:,4:])

In [18]:
print(x_train)

[[17.5 6.0 95.0 ... -0.012971469468764197 0.8252835150191139
  0.5989080417175068]
 [25.0 4.0 92.0 ... -0.012971469468764197 -0.21775442230036082
  -0.5180697456834271]
 [16.0 8.0 150.0 ... -1.6369994469582125 -1.2607923596198356
  1.03434006053482]
 ...
 [13.0 8.0 130.0 ... -1.0956567877950631 -0.5414558511236461
  1.0627378008924708]
 [22.0 6.0 95.0 ... -1.6369994469582125 -0.0019534697515041304
  0.03095323456448953]
 [23.0 4.0 78.0 ... -0.2836427990503389 1.07705129299278
  -0.5180697456834271]]